# NODE
NODE_ENV=NODE_ENV

# JWT
JWT_SECRET=JWT_SECRET

# AWS
ACCESS_KEY_ID=ACCESS_KEY_ID
SECRET_ACCESS_KEY=SECRET_ACCESS_KEY
REGION=REGION
AWS_DYNAMODB_TABLE_NAME=AWS_DYNAMODB_TABLE_NAME
AWS_DYNAMODB_EMAIL_VERIFICATION_TABLE_NAM=AWS_DYNAMODB_EMAIL_VERIFICATION_TABLE_NAME
AWS_SES_EMAIL=AWS_SES_EMAIL

# KAKAO
KAKAO_CLIENT_ID=KAKAO_CLIENT_ID
# 아래는 보안 강화를 위해 선택적으로 입력 가능 (공식문서 페이지 참조)
KAKAO_CLIENT_SECRET=KAKAO_CLIENT_SECRET
KAKAO_CALLBACK_URL=KAKAO_CALLBACK_URL

# GOOGLE
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=GOOGLE_CALLBACK_URL
GOOGLE_API_KEY=GOOGLE_API_KEY

# HTML
EMAIL_VERIFICATION_BASE_URL=EMAIL_VERIFICATION_BASE_URL
